*{
    margin: 0.1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(167, 180, 165);
}


.header-section{
    height: 10vh;
    width: 100%;
    background-color:rgb(83, 108, 83, 0.95) ;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-section img{
    width: 8%;
    height: 100%;
    margin-left: 30px;
}
.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
    
}
.navbar h2{
    color: white;
    font-size: 1.8rem;
    padding-left: 25rem;
}
.navbar ul{
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    gap: 30px;

}

/* list decoration */
.navbar li{
    display: block;
    transition: 0.5s;
}
.navbar ul:hover li{
    filter:blur(5px);
}
.navbar ul li:hover{
    filter: blur(0px);
}

/* decoration complete */

.navbar a{
    color: white;
    text-decoration: none;
}
/* navbar completed */
.about{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;

}

.about img{
    width: 500px;
    height: 500px;
}

.head{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 8rem;
    margin-left: 1.5rem;

}
.img2{
    border-radius: 20px;
    margin-top: 5rem;
    margin-left:6rem;
}
.para{
    width: 50rem;
    text-align: justify;

    margin-left: 1.5rem;    
}

.read{
    display: flex;
    width: 100%;
    padding: 1.5rem;
}

.read button{
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
    padding: .5rem 1rem;

}
.read button::before,
button::after{
    position: absolute;
    content: "";
    z-index: -1;
}
.read a{
    text-decoration: none;
    font-size:1rem ;
    color: #34aa79;
    

}
.read button:hover{
    border: 2px solid #34aa79;
    color: #97ffd4;
    background-color: #17181c;
    font-weight: bold;
}

/* Media Queries */
@media only screen and (max-width: 1300px) {
    /* Medium Size */
    .navbar h2 {
        padding-left: 10rem;
    }
}

@media only screen and (max-width: 1100px) {
    /* Normal Size */
    .navbar h2 {
        padding-left: 5rem;
    }
}
