

html{
    width: 100%;
    height: -webkit-fill-available;
}

body{
    width: 100%;
    margin: 0;
    padding: 0%;
    background-image: url("/static/images/bgimg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(43, 42, 42, 0.7);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #696868;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #979696;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color:rgba(41, 40, 40, 0.9);
    
    
}

/* Additional styles for the menu icon */
.menu-icon {
    width: fit-content;
    height: fit-content;
    margin: 20px;
    color: aliceblue;
    font-size: 38px; /* Adjust the size as needed */
    cursor: pointer;
  }

.menu-icon:hover{
    transform: scale(1.1);
    color: rgb(178, 175, 175);
    
}


nav{
    width: 40%;
    
}
  
nav ul li{
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    font-size: 20px;
    flex-direction: row;
    margin-right: 5%;
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(79, 77, 77);
    border-radius: 20px;
    color: aliceblue;
}

nav ul li a:hover{
    transform: scale(1.1);
    color: rgb(103, 102, 102);
}

nav ul li a{
    text-decoration: none;
    color: antiquewhite;
}


h3{
    cursor: pointer;
    padding: 10px; 
    margin-left: 10px;
    font-size: 40px;
    
}

h3 a{
    text-decoration: none;
    color: antiquewhite;
}

h4{
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    margin-left: 2%;
    font-size: 20px;
    border: 1px solid rgb(79, 77, 77);
}

h4:hover{
    background-color: #696868;
    scale: 1.1;
}

h4 a{
    text-decoration: none;
    color: antiquewhite;
}

.search-login-div{
    width: 45%;
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 0;
    display: flex;
    align-items: center;
}

.searchBar{
    display: flex;
    width: 50%;
    align-items: center;
    border-radius: 20px;
    background-color: aliceblue;
    border-color: transparent;
    outline: 2px solid rgb(76, 75, 75);
}
  
.searchBar input{
    width: 90%;
    overflow: hidden;
    background-color: aliceblue;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 20px;
    border-color:transparent;  
    outline: none; 
}

.searchBar i{
    font-size: large;
    margin-left: 10px;
    top: 0%;
    bottom: 0%;
}

.loginRegister{
    cursor: pointer;
    width: auto;
    height: auto;
    margin-left: 5%;
    right: 0%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.loginRegister a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(88, 126, 114);
    margin-left: 20px;
    
}
    
.loginRegister a:hover{
    transform: scale(1.1);
}


.social-media-icons{
    position: fixed;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 4px;
    display: flex;
    width: 2.5%;
    font-size: 150%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    background-color: rgba(33, 32, 32, 0.8);
    justify-content: center;
    bottom: 20px;
    right: 0px;
    
}

.social-media-icons i{
    padding: 8px;
    color: rgb(121, 166, 166);
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    background-repeat: no-repeat;
}

.container .bookingSearch{
    line-height: 1.0;
    /* padding-top: 20px; */
    width: 90%;
    margin-top: 20px;
    height: 100%;
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 20px; */
    background-color: aliceblue;
    padding-bottom: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: transparent;
    outline: 1px solid rgb(169, 166, 166);
}

/* .container .bookingSearch .container-searchBar{
    display: flex;
    width: 30%;
    align-items: center;
    background-color: aliceblue;
    border-color: transparent;
    outline: 1px solid rgb(76, 75, 75);
} */

/* .container .bookingSearch .container-searchBar input{
    width: 90%;
    overflow: hidden;
    background-color: aliceblue;
    font-size: 20px;
    margin-left: 10px;
    border-color:transparent;  
    outline: none; 
}

.container .bookingSearch .container-searchBar i{
    font-size: large;
    margin-left: 10px;
    top: 0%;
    bottom: 0%;
} */

.container .bookingSearch .date{
    width: 18%;
    height: 100px;
    padding: 20px;
    outline: 1px solid rgb(161, 159, 159);
    border-color: transparent;
    cursor: pointer;
    font-size: 20px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue ;
}

.container .bookingSearch .date label{
    font-size: 20px;
    margin-right:0 ;
    margin-left: 20px;
    margin-top: 20px;
}

.container .bookingSearch .date .dateInside{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    
}

.container .bookingSearch .date .dateInside .dateInput{
    width: 100%;
    height: auto;
    padding: 20px;
    border-color: transparent;
    cursor: pointer;
    font-size: 20px;
    margin-left: 0;
    background-color: aliceblue ;
}


.container .bookingSearch .fromto{
    display: flex;
    margin-left: 0%;
    width: 85%;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
   
}

.container .bookingSearch .from{
    display: flex;
    padding: 20px;
    height: 100px;
    margin-left: 0%;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    border-color: transparent;
    outline: 1px solid rgb(171, 169, 169);
}

.container .bookingSearch .from .fromInside{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    align-items: center;
}

.container .bookingSearch .from .fromInside input{
    width: 90%;
    overflow: hidden;
    background-color: aliceblue;
    font-size: 20px;
    margin-left: 10px;
    border-color:transparent;  
    outline: none; 
}

.container .bookingSearch .from i{
    font-size: large;
    margin-left: 10px;
    top: 0%;
    bottom: 0%;
}

.swapicon{
    display: flex;
    position: sticky;
    margin-left: -27px;
    margin-right: -40px;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 100%;
}

.container .bookingSearch .to{
    display: flex;
    margin-left: 0%;
    padding: 20px;
    padding-left: 40px;
    height: 100px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-color: transparent;
    outline: 1px solid rgb(176, 174, 174);
}

.container .bookingSearch .to .toInside{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    align-items: center;
}

.container .bookingSearch .to .toInside input{
    width: 90%;
    overflow: hidden;
    background-color: aliceblue;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 20px;
    border-color:transparent;  
    outline: none; 
}

.container .bookingSearch .to .toInside i{
    font-size: large;
    margin-left: 10px;
    top: 0%;
    bottom: 0%;
}

.container .bookingSearch .to label, .container .bookingSearch .from label{
    font-size: 20px;
    margin-right: auto;
    padding-left: 15px;
    padding-bottom: 20px;
}

.container .bookingSearch .travellors{
    width: 15%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 104px;
    padding: 18px;
    outline: 1px solid rgb(179, 177, 177);
    border-color: transparent;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    margin-left: 0;
    background-color: aliceblue ;
}

.container .bookingSearch .travellors .select-boxes{
    width: 50%;
    overflow: hidden;
    background-color: rgb(155, 156, 156);
    font-size: 15px;
    color: black;
    margin-left: 10px;
    border-radius: 10px;
    border-color:transparent;  
    background-color: lightgray;
    outline: none;
}



.container .searchButton-bookingSearch{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: -2%;
    margin-left: 5%;
    height: auto;
    background-color: transparent;
}

.container .searchButton-bookingSearch button{
    width: 15%;
    height: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    border-radius: 40px;
    border-color: 2px solid gray;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(240, 240, 240, 1) ;
}

.container .searchButton-bookingSearch button:hover{
    background-color: #e6e6e6;
    scale: 1.1;
}


.container .deals{
    line-height: 1.0;
    padding-top: 20px;
    width: 90%;
    margin-top: 20px;
    height: 100%;
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgba(61, 59, 59, 0.5);
}

h1{
    line-height: 0.8;
    font-size: 40px;
    width: 90%;
    text-align: center;
    color: aliceblue;
    margin: inherit;
}

.container .deals .slidebar{
    padding: 20px;
    margin-left: 30px;
    width: 90%;
    height: auto;
    overflow: auto;
    display: flex;
    border-radius: 12px;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    scroll-behavior: smooth;
    
}

.container .deals .slidebar {
    /* Other styles */
    overflow-x: auto; /* Enable horizontal scrollbar */
  }
  
  /* Thin scrollbar */
  .container .deals .slidebar::-webkit-scrollbar {
    width: 6px; /* Adjust scrollbar width */
    height: 6px; /* Adjust scrollbar height */
  }
  
  /* Track */
  .container .deals .slidebar::-webkit-scrollbar-track {
    background: transparent; /* Track background color */
  }
  
  /* Handle */
  .container .deals .slidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Handle color */
    border-radius: 3px; /* Handle border-radius */
  }



.container .deals .boxes{
    height: auto;
    cursor: pointer;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 80px;
    color: antiquewhite;
    border: 2px solid rgb(72, 71, 71);
    background-color: rgba(61, 59, 59, 0.5);
    
}

.container .deals .boxes:last-child{
    margin-right: 0px;
}

.container .deals .boxes p{
    display: flex;
    text-align: center;
    line-height: 1.0;
    letter-spacing: 2px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column
}

.container .deals img{
    height: 400px;
    width: 500px;
    border-radius: 4px;
}












.container .testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    margin-top: 20px;
    height: fit-content;
    background-color: rgba(61, 59, 59, 0.7);
    color: gainsboro;
}

h2{
    margin-bottom: 20px;
    font-size: 30px;
} 

.testimonials .testimonials-slidebar{
    display: flex;
    flex-direction: row;
    border-top:2px solid #000;
    padding: 20px;
    margin-left: 0;
    width: 90%;
    height: auto;
    overflow: auto;
    border-radius: 0px;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    scroll-behavior: smooth;
    
}

.testimonials .testimonials-slidebar {
    /* Other styles */
    overflow-x: auto; /* Enable horizontal scrollbar */
  }
  
  /* Thin scrollbar */
  .testimonials .testimonials-slidebar::-webkit-scrollbar {
    width: 6px; /* Adjust scrollbar width */
    height: 6px; /* Adjust scrollbar height */
  }
  
  /* Track */
  .testimonials .testimonials-slidebar::-webkit-scrollbar-track {
    background: transparent; /* Track background color */
  }
  
  /* Handle */
  .testimonials .testimonials-slidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Handle color */
    border-radius: 3px; /* Handle border-radius */
  }



  .testimonials .testimonials-slidebar .testimonials-boxes{
    height: auto;
    width: 25%;
    display: flex;
    flex-direction:row;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 80px;
    color: antiquewhite;
    border:1px solid rgb(27, 26, 26);
    background-color: rgba(61, 59, 59, 0.9);
    
}

.testimonials .testimonials-slidebar .testimonials-boxes:last-child{
    margin-right: 0px;
}

.testimonials .testimonials-slidebar .testimonials-boxes p{
    display: flex;
    text-align: center;
    line-height: 1.0;
    letter-spacing: 2px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column
}

.why{
    background-color:  rgba(61, 59, 59, 0.9);
    align-items: center;
    margin-top: 40px;
    display: flex;
    line-height: 1.5;
    font-size: 15px;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
}

.why p{
    color: antiquewhite;
    inset: 20px;
    padding: 20px;
    font-size: 20px;
}

footer{
    background-color:  rgba(61, 59, 59, 0.9);
    align-items: center;
    margin-top: 40px;
    display: flex;
    line-height: 1.5;
    font-size: 15px;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
}


footer p{
    font-size: 15px;
}