{% load static %}
{% static 'images' as baseurl %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="{% static 'js\home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles\home.css' %}"/>
    <title>XYZ</title>
  </head>
  <body>
    <header>
      <h3><a href="">XYZ</a></h3>
      <h4><a href="destinations">Destinations</a></h4>
      <nav>
        <ul>
          <li><a href="#"><i class="fa-solid fa-plane"></i></a></li>
          <li><a href="#"><i class="fa-solid fa-ship"></i></a></li>
          <li><a href="#"><i class="fa-solid fa-train"></i></a></li>
          <li><a href="#"><i class="fa-solid fa-taxi"></i></a></li>
        </ul>
      </nav>
      
      <div class="search-login-div">
        <div class="searchBar">
          <i class="fa fa-search search-icon"></i>
          <input type="text" placeholder="Search" />
        </div>
        <div class="loginRegister">
          <a href="#"><i class="fas fa-user"></i>&nbsp; Login</a>
        </div>
      </div>
    </header>
    <div class="social-media-icons">
      <a href="#" class="links-social"
        ><i class="fa-regular fa-envelope fa-beat"></i>
      </a>

      <a href="#" class="links-social"
        ><i class="fa-brands fa-linkedin fa-beat-fade"></i>
      </a>

      <a href="#" class="links-social"
        ><i class="fa-brands fa-whatsapp fa-beat-fade"></i>
      </a>

      <a href="#" class="links-social"
        ><i class="fa-brands fa-github fa-beat-fade"></i
      ></a>
    </div>
    <div class="container">
      {%csrf_token%}
      <form action="/submit-form" method="POST">
        <div class="bookingSearch">
          <div class="date">
            <label>Date:</label>
            <div class="dateInside">
              <input type="date" id="futureDate" class="dateInput" required>
            </div>
          </div>
          <div class="fromto">
            <div class="from">
              <label>From:</label>
              <div class="fromInside">
              <i class="fa fa-search search-icon"></i>
              <input type="text" placeholder="From.." id="inputFrom"  required/>
              </div>
            </div>           
              <a onclick="swapicon()"><img src="{{baseurl}}/swapicon.jpg" class="swapicon" id="swapicon"></a>          
            <div class="to">
              <label>To:</label>
              <div class="toInside">
                <i class="fa fa-search search-icon"></i>
                <input type="text" placeholder="To.." id="inputTo" required/>
              </div>
            </div>        
          </div> 
          <div class="travellors">
            <label >Travellers</label>
            <label for="adults">Adults:</label>
            <select id="adults" name="adults" class="select-boxes" required>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>

            <label for="children">Children:</label>
            <select id="children" name="children" class="select-boxes" required>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div> 
        </div>
        <div class="searchButton-bookingSearch">
          <button type="submit" >Search</button>
        </div>
      </form>
      
      <!-- slidebar images and details for offers -->
      <div class="deals">
        <h1>Deals!!!</h1>
        <div class="slidebar" id="scrollable">
          {%for dest in dests %}
          <div class="boxes">
            <img src='{{baseurl}}/{{dest.img}}' alt="image 1" />
            <p>Place:{{dest.place}}<br /><br />Price: Rs {{dest.price}}</p>
          </div>

          {%endfor%}
          
        </div>
      </div>
      <br /><br />
      <div class="testimonials">
        <h2>Testimonials</h2>
        <br />
        <div class="testimonials-slidebar">
          <div class="testimonials-boxes">
            <p>
              "Booking my dream vacation through TravelVista was an absolute
              breeze! The site's user-friendly interface made it effortless to
              browse destinations and find the perfect package. From start to
              finish, the experience was exceptional."
            </p></div>
            <div class="testimonials-boxes">
              <p>
                "Booking my dream vacation through TravelVista was an absolute
                breeze! The site's user-friendly interface made it effortless to
                browse destinations and find the perfect package. From start to
                finish, the experience was exceptional."
              </p>
            </div>
            <div class="testimonials-boxes">
              <p>
                "Booking my dream vacation through TravelVista was an absolute
                breeze! The site's user-friendly interface made it effortless to
                browse destinations and find the perfect package. From start to
                finish, the experience was exceptional."
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="why">
        <p>
          "XYZ Tours and Travels is your gateway to unforgettable adventures and seamless travel experiences. At XYZ Travels, we're committed to crafting exceptional journeys tailored to your desires. Our array of services spans from effortless flight bookings to curated hotel accommodations, handcrafted tour packages, and reliable transportation arrangements.
Embark on a journey with us to explore a myriad of destinations, each offering a tapestry of unique cultures, breathtaking landscapes, and unforgettable memories. From the serene shores of tropical paradises to the bustling streets of vibrant cities, our meticulously designed travel packages cater to every wanderlust.
Our commitment to customer satisfaction resonates in the glowing testimonials shared by our delighted travelers, each testimonial a testament to our dedication and expertise in making dreams come true. Moreover, our travel guides and insightful blogs provide invaluable insights, offering tips and enriching information to make your journey seamless.
Contact us today to unlock a world of travel possibilities. Let XYZ Travels be your trusted companion in turning your travel aspirations into remarkable realities."
        </p>
      </div>
    </div>

    <footer>
      <p>
        @2024 XYZ.PVT.LTD <br>
        Country India USA UK UAE
      </p>
    </footer>
  </body>
  
</html>
